<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>전체 사원 조호</title>
</head>
<body>
	<!-- 	<p>테스트!!</p>
	<th:block th:each="num, numStat: ${#numbers.sequence(1,5)}">
		<p th:text="${num + ', ' + numStat.index}"/>
	</th:block> -->

	<div>
		<button type="button" th:text='등록'
		 		th:onclick="|location.href='@{/empInsert}'|"/>
		<table>
			<thead>
				<tr>
					<th>employee_id</th>
					<th>first_name</th>
					<th>job_id</th>
					<th>hire_date</th>
				</tr>
			</thead>
			<tbody>				
				<th:block th:each="empInfo : ${empList}" >
					<!-- empInfo?employeeId=${empInfo.employeeId} 이런식 xx -->
					<!-- ${"location.href=/'"  + @{/empInfo( employeeId=${empInfo.employeeId})} + "/'"}
					     타임리프에서 제공하는 |location.href='@{/empInfo(employeeId=${empInfo.employeeId})}'| --> 
					<tr th:onclick="|location.href='@{/empInfo(employeeId=${empInfo.employeeId})}'|" >
						<td th:text="${empInfo.employeeId}"/>
						<td th:text="${empInfo.firstName}"/>
						<td>[[${empInfo.jobId}]]</td><!-- 인라인 -->
						<td>[[${#dates.format(empInfo.hireDate,'yyyy년MM월dd일')}]]</td>
						<td><a th:href="@{/empInfo(employeeId=${empInfo.employeeId})}">보기</a>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
</body>
</html>